<%- include("./partials/header.ejs"); -%>
<div class="box" id="heading">
  <h1 > <%= listTitle %> </h1>
</div>

<div class="box">

  <% listItems.forEach(function(item){ %>

  <form action="/delete" method="post">
    <div class="item">

      <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">

      <p> <%= item.name[0].toUpperCase() + item.name.substring(1)%> </p>
    </div>
    <input type="hidden" name="list" value="<%= listTitle %>"></input>
</form>
    <% }); %>


    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New item" autocomplete="off" >
      <button type="submit" name="button" value="<%= listTitle %>">+</button>
    </form>
  </div>







<%- include("./partials/footer.ejs"); -%>
